[tool.poetry]
name = "machinable"
version = "3.0b2"
description = "A modular configuration system for machine learning projects"
license = "MIT"
authors = [
    "Frithjof Gressmann <hello@machinable.org>"
]
maintainers = [
    "Frithjof Gressmann <hello@machinable.org>"
]
readme = "README.md"
homepage = "https://machinable.org"
repository = "https://github.com/machinable-org/machinable"
documentation = "https://machinable.org"
keywords = ["machine-learning", "research"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python",
    "License :: OSI Approved :: MIT License",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Artificial Intelligence"
]
include = ["CHANGELOG.md"]

[tool.poetry.dependencies]
python = "^3.6.1"
python-baseconv = "^1.2"
observable = "^1.0"
flatten-dict = "^0.4"
jsonlines = "^2.0"
pydantic = "^1.8.1"
arrow = "^1.1.1"
importlib-metadata = "^4.6.1"
PyYAML = "^5.4.1"
commandlib = "^0.3.5"
omegaconf = "^2.1.0"

# optional dependencies
setproctitle = {version = "^1.1", optional = true}
numpy = {version = "^1.19.4", optional = true}
pandas = {version = "^1.1.5", optional = true}


[tool.poetry.dev-dependencies]
isort = "^5.9"
pyupgrade = "^2.23.0"
black = "^20.8b1"
pytest = "^6.2"
pylint = "^2.8"
pre-commit = "^2.12"
editorconfig-checker = "^2.3.5"
pytest-cov = "^2.10.1"
numpy = "^1.19.4"
hypothesis = "^6.14.3"

[tool.poetry.extras]
all = [
  "setproctitle",
  "numpy",
  "pandas",
]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
machinable = "machinable.cli:Cli"

[tool.black]
# https://github.com/psf/black
line-length = 80
target_version = ["py36"]
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist'
  )/
)
'''

[tool.isort]
# https://github.com/timothycrosley/isort/
known_typing = "typing,types,typing_extensions,mypy,mypy_extensions"
sections = "FUTURE,TYPING,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
include_trailing_comma = true
default_section = "FIRSTPARTY"
multi_line_output = 3
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 80

[tool.pylint.'MESSAGES CONTROL']
disable = "protected-access, import-outside-toplevel, too-few-public-methods"
